./map_out/cat.txt_248
./map_out/scallop.txt_1503
./map_out/orange.txt_5358
./map_out/bird.txt_5107
./map_out/orange.txt_5367
./map_out/dog.txt_6101
./map_out/cat.txt_6096
./map_out/rice.txt_1726
./map_out/orange.txt_5309
./map_out/penguin.txt_3240
./map_out/cat.txt_9779
./map_out/chili_pepper.txt_2249
./map_out/dog.txt_2980
./map_out/potato.txt_4771
./map_out/apple.txt_102
./map_out/bird.txt_5098
./map_out/cat.txt_9678
./map_out/rice.txt_9730
./map_out/scallop.txt_1443
./map_out/cat.txt_218
./map_out/cat.txt_8244
./map_out/cat.txt_3578
./map_out/rice.txt_295
./map_out/apple.txt_179
./map_out/cat.txt_8015
./map_out/rice.txt_7816
./map_out/bird.txt_9579
./map_out/scallop.txt_1566
